
# Jekyll 生成的文件
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# 依赖目录
node_modules/
LearningProjects/nestapp/node_modules/

# 系统文件
.DS_Store
Thumbs.db
/vendor

# 编辑器配置
.vscode/
.idea/
*.sublime-*
/.vscode
